@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body, * {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:100px 5%;
  text-align: center;
  background: linear-gradient(220deg, #29fbff, #b12aff);
  color:#fff;
  min-height: 100vh;
}

h1{
  color:#fff;
  margin-bottom:1rem;
}

h1 span{
  color: #a200ff;
}

form{
  display: flex;
  flex-direction: column;
  gap:12px;
  align-items: center;
  margin-bottom: 3rem;
}

input{
  border:1px solid #fff;
  border-radius: .5rem;
  color: #fff;
  background:rgba(0,0,0,0);
  padding:1rem;
  font-size:1rem;
  outline:0;
}

button{
  font-size:1rem;
  border:1px solid #fff;
  padding:1rem;
  border-radius: .5rem;
  color:#fff;
  background:rgba(0,0,0,0);
  cursor: pointer;
}

.count-wrapper{
  display: grid;
  gap:1.2rem;
  grid-template-columns: repeat(4,1fr);
}

.count-wrapper > div{
  flex:1 0 1;
  padding:1rem;
  border-radius:10px;
  background: linear-gradient(220deg, #29fbff, #b12aff);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.count-wrapper h3{
  font-size:2rem;
}

.count-wrapper p{
  font-size:1.1rem;
  color:#d8d8d8;
  font-weight: 500;
}

.notification{
  color:#7500b9;
  font-weight: 600;
  font-size:1.2rem;
}

/*MOBILE STYLES*/
@media(max-width:767px){
  .count-wrapper{
    gap:.5rem;
  }
  .count-wrapper h3{
    font-size:1.4rem;
  }
  .count-wrapper p{
    font-size:.7rem;
  }
}